:host {
    .content {
        max-width: 920px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        @media screen and (max-width: 1000px) {
            max-width: 620px;
        }

        @media screen and (max-width: 768px) {
            max-width: 470px;
        }
    
        @media screen and (max-width: 576px) {
            max-width: 320px;
        }
      }

    .item {
        width: 32%;
        margin-bottom: 2%;
    }
}
